h1 {
    text-align: center;
}

.numbers p {
    text-align: center;
    font-size: 2rem;
}

.button-box {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.button-box button {
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
}

button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

button:active {
    filter: brightness(95%);
    transform: translateY(1px);
}

.not-started {
    background-color: rgb(251, 129, 129);
}

.in-progress {
    background-color: rgb(255, 255, 112);
}

.done {
    background-color: rgb(98, 228, 98);
}